<div>
    <mat-card style="margin: 15px;">
      <mat-card-header>
        <mat-card-title><h3>{{asset?.id ? 'Asset Details' : 'Create New Asset'}}</h3></mat-card-title>
        <mat-card-subtitle>Identifier: {{asset?.id ? asset.id : '[will be created automatically for new Assets]'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="isOwner">Owner: {{asset?.owner ? asset.owner : '[will be set automatically for new Assets]'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form" #assetForm="ngForm">
          <div class="input-container">
            <mat-form-field class="input-field">
              <input matInput [readonly]="readonly" placeholder="Asset Name" [(ngModel)]="asset.name" name="assetname" required="true">
            </mat-form-field>
            <mat-form-field class="input-field">
              <input matInput [readonly]="readonly" [type]="showSecret ? 'text' : 'password'" placeholder="Asset API Secret" [(ngModel)]="asset.secret" name="assetsecret" required="true">
              <mat-hint align="start"><strong>Secret required to submit data for this asset via API. Keep it safe!</strong></mat-hint>
            </mat-form-field>
            <div class="mat-form-field">
              <mat-slide-toggle [(ngModel)]="showSecret" name="secretCheckbox">Show Secret</mat-slide-toggle>
            </div>
            <mat-form-field class="input-field">
              <textarea matInput [readonly]="readonly" placeholder="Asset Description" [(ngModel)]="asset.description" name="assetdesc"></textarea>
            </mat-form-field>
            <mat-form-field class="input-field" *ngIf="isOwner">
              <mat-select [disabled]="readonly" placeholder="Visibility" [(ngModel)]="asset.visibility" name="assetvis" required="true">
                  <mat-option value="private">Private</mat-option>
                  <mat-option value="public">Public</mat-option>
              </mat-select>
              <mat-hint align="start"><strong>If you set this to <i>Public</i> everyone will see this Asset. Take care!</strong></mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button *ngIf="!readonly && isOwner" [disabled]="assetForm.invalid" (click)="saveAssetClicked()">Save Asset</button>
        <button mat-raised-button *ngIf="readonly && isOwner" (click)="editAssetClicked()">Edit Asset</button>
        <button mat-raised-button *ngIf="asset?.id && isOwner" (click)="deleteAssetClicked()">Delete Asset</button>
      </mat-card-actions>
    </mat-card>
    <mat-card style="margin: 15px;">
      <mat-card-header>
        <mat-card-title><h3>Submitted Data Points</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table #table [dataSource]="datapointsDataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.timestamp | date:'medium'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef style="flex: 0 0 80px;"></mat-header-cell>
              <mat-cell *matCellDef="let row" style="flex: 0 0 80px;"><button mat-raised-button *ngIf="isOwner" (click)="deleteDatapointClicked(row.id)" style="min-width: 40px;"><mat-icon mat-list-icon>delete</mat-icon></button></mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="dplistDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: dplistDisplayedColumns;"></mat-row>
        </mat-table>     
        <div *ngIf="datapointsDataSource.isEmpty" style="padding: 5px;">No datapoints available!</div>         
      </mat-card-content>
    </mat-card>
  </div>
