<div>
  <mat-card style="margin: 15px;" *ngIf="asset?.id">
    <mat-card-header>
      <mat-card-title><h3>GPS Data</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>GPS - Timestamp:</td><td>{{asset.lastsignal_ts | date:'medium'}}</td></tr>
        <tr><td>GPS - Latitude:</td><td>{{asset?.gps_lat}}</td></tr>
        <tr><td>GPS - Longitude:</td><td>{{asset?.gps_lon}}</td></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/gmap', asset.id]" [disabled]="asset?.gps_lat == 0 && asset?.gps_lon == 0">Show On Map</button>
    </mat-card-actions>      
  </mat-card>
  <mat-card style="margin: 15px;" *ngIf="asset?.id">
    <mat-card-header>
      <mat-card-title><h3>Submitted Datapoints</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>Last Signal: {{asset.lastsignal_ts | date:'medium'}}</span>
      <mat-table #table [dataSource]="datapointsDataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.timestamp | date:'medium'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef style="flex: 0 0 80px;"></mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex: 0 0 80px;"><button mat-raised-button *ngIf="isOwner" (click)="deleteDatapointClicked(row.id)" style="min-width: 40px;"><mat-icon mat-list-icon>delete</mat-icon></button></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="dplistDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: dplistDisplayedColumns;"></mat-row>
      </mat-table>     
      <div *ngIf="datapointsDataSource.isEmpty" style="padding: 5px;">No datapoints available!</div>
    </mat-card-content>
  </mat-card>
</div>
