<div>
  <mat-card class="infocard">
    <mat-card-header>
      <mat-card-title>User Info</mat-card-title>
      <mat-card-subtitle>Information about the current user</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Name:</td><td>{{userInfo?.name}}</td></tr>
        <tr><td>eMail:</td><td>{{userInfo?.mail}}</td></tr>
        <tr><td>eMail verified:</td><td>{{userInfo?.mailVerified}}</td></tr>
      </table>
      <div *ngIf="!!userInfo?.mailVerified == false">Your eMail address is not verified. You are only abled to view public assets.</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="infocard">
      <mat-card-header>
        <mat-card-title>Application Info</mat-card-title>
        <mat-card-subtitle>Information about the application</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr><td>Version:</td><td>0.0.1</td></tr>
          <tr><td>Source Code:</td><td><a target="_blank" href="https://github.com/mtiews/track-my-asset">Track-My-Asset</a></td></tr>
        </table>
      </mat-card-content>
  </mat-card>
</div>
