<div>
  <md-card class="infocard">
    <md-card-header>
      <md-card-title>User Info</md-card-title>
      <md-card-subtitle>Information about the current user</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        Name: {{userInfo?.name}}<br/>
        eMail: {{userInfo?.mail}}<br/>
        Mail verified: {{userInfo?.mailVerified}}
      </p>
    </md-card-content>
  </md-card>
  <md-card class="infocard">
      <md-card-header>
        <md-card-title>Application Info</md-card-title>
        <md-card-subtitle>Information about the application</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Version: 0.0.1<br/>
          Github: http://github.com/cccc
        </p>
      </md-card-content>
  </md-card>
</div>
