<div class="container">
  <div class="mat-elevation-z6 nav">
      <mat-toolbar color="primary">
        <button mat-icon-button *ngIf="isAuthenticated" (click)="sidenav.toggle()">
            <mat-icon class="mat-24" >menu</mat-icon>
        </button>￼
        <span style="flex: 1 1 auto;"></span>
        Track-my-Asset
        <span style="flex: 1 1 auto;"></span>
        <button *ngIf="isAuthenticated" mat-button color="accent" (click)="onLogout()"><mat-icon>power_settings_new</mat-icon></button>  
      </mat-toolbar>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [mode]="sidenavMode" [opened]="sidenavOpened && isAuthenticated" #sidenav class="mat-elevation-z6 sidenav">
      <mat-nav-list>
        <a mat-list-item (click)="closeSideNav()" [routerLink]="['/list']">
          <mat-icon mat-list-icon>view_list</mat-icon>
          <span mat-line>Asset List</span>
          <!--
          <span mat-line class="secondary">List</span>
          -->
        </a>
        <a mat-list-item (click)="closeSideNav()" [routerLink]="['/details']">
          <mat-icon mat-list-icon>playlist_add</mat-icon>
          <span mat-line>New Asset</span>
          <!--
          <span mat-line class="secondary">Add New</span>
          -->
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="closeSideNav()" [routerLink]="['/info']">
          <mat-icon mat-list-icon>info_outline</mat-icon>
          <span mat-line>Info</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>    
    </mat-sidenav-content>
  </mat-sidenav-container>  
</div>
