.container {
    display: flex; 
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav {
    flex: 0 0 auto; 
    z-index: 10; 
    width: 100%;
}

.sidenav-container {
    flex: 1 1 auto;
    height: 100%;
}

.sidenav {
    padding: 20px;
}

.sidenav-content {
    height: 100%;
    width: 100%;
}
